BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "C" SITE "53" ;
LOCATE COMP "R" SITE "50" ;
LOCATE COMP "Q10" SITE "37" ;
LOCATE COMP "Q11" SITE "38" ;
LOCATE COMP "Q12" SITE "39" ;
LOCATE COMP "Q13" SITE "40" ;
LOCATE COMP "Q20" SITE "43" ;
LOCATE COMP "Q21" SITE "44" ;
LOCATE COMP "Q22" SITE "45" ;
LOCATE COMP "Q23" SITE "46" ;
